body {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 8px 12px;
  background-color: #db7c34;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fd8d37;
}

input {
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-bottom: 2px solid orange;
  background-color: #05030350;
  background-position: 10px;
  background-repeat: no-repeat;
  color: beige;
}

#name-input {
  background-image: url('../assets/searchicon.png');
  padding-left: 40px;
}
input:focus {
  outline: none;
}

