body {
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px 12px;
  background-color: #db7c34;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fd8d37;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.actions-buttons button {
  padding: 4px 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.0s;
}

.actions-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

#timeout-section {
  margin-top: 20px;
}

.username {
  color: rgba(42, 214, 23, 0.807);
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-info h1 {
  font-size: 24px;
  margin: 0;
}

.avatar img {
  margin-top: 10px;
  margin-left: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.avatar img:hover {
  box-shadow: 0 0 10px gold;
}

.roles {
  margin-top: 20px;
}

.roles-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.roles-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roles-btn img {
  margin-left: 5px;
}

.moderation {
  margin-top: 20px;
}

input[type="number"] {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #33333350;
  color: white;
}

input[type="number"]:focus {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#ban {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ban img {
  margin-left: 5px;
}

.moderation button:hover {
  color: black;
  background-color: red;
  box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.4), 0 6px 20px 0 rgba(150, 18, 18, 0.38);
  font-weight: bold;
}

button:disabled {
  background-color: #5b5a5a7d;
  cursor: default;
}

button:disabled:hover {
  background-color: #5b5a5a7d;
  font-weight: unset;
}